## Análise e limpeza de dados

Nesse notebook, iremos abordar conceitos de limpeza de dados enquanto nos aprofundamos no uso da biblioteca Pandas, que foi introduzida na aula passada

O _dataset_ que iremos utilizar é um conjunto de dados contendo informações a respeito de diversos funcionários em uma determinada empresa. O objetivo dele é a construção de um modelo (assunto visto na última aula) para prever se os funcionários serão ou não promovidos.

Ele foi obtido no [Kaggle](https://www.kaggle.com/datasets/arashnic/hr-ana?select=test.csv) e conta com as seguintes informações:

- **employee_id**: identificação do funcionário
- **department**: departamento do funcionário
- **region**: região na qual o funcionário trabalha
- **education**: nível educacional do funcionário
- **gender**: gênero do funcionário
- **recruitment_channel**: canal a partir do qual o funcionário foi contratado
- **no_of_trainings**: quantidade de treinamento (cursos) que foram realizados pelo funcionário no último ano, incluindo _soft_ e _hard_ skills.
- **age**: idade do funcionário
- **previous_year_rating**: avaliação do funcionário no último ano
- **length_of_service**: quantidade de tempo de trabalho do funcionário (anos)
- **awards_won?**: indica se o funcionário ganhou (1) ou não (0) premiações no último ano
- **avg_training_score**: pontuação média nos últimos treinamentos realizados 
- **is_promoted**: Indica se o funcionário é (1) ou não (0) recomendado para promoção

In [2]:
import pandas as pd

In [3]:
promotion = pd.read_csv("./promotion.csv")

In [4]:
promotion.shape

(54808, 13)

In [5]:
promotion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  awards_won?           54808 non-null  int64
 11  avg_training_score    54808 non-null  int64
 12  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 5.4+ MB

In [7]:
promotion.describe().T

,count,mean,std,min,25%,50%,75%,max
employee_id,54808.0,39195.830627,22586.581449,1.0,19669.75,39225.5,58730.5,78298.0
no_of_trainings,54808.0,1.253011,0.609264,1.0,1.00,1.0,1.0,10.0
age,54808.0,34.803915,7.660169,20.0,29.00,33.0,39.0,60.0
previous_year_rating,50684.0,3.329256,1.259993,1.0,3.00,3.0,4.0,5.0
length_of_service,54808.0,5.865512,4.265094,1.0,3.00,5.0,7.0,37.0
awards_won?,54808.0,0.023172,0.150450,0.0,0.00,0.0,0.0,1.0
avg_training_score,54808.0,63.386750,13.371559,39.0,51.00,60.0,76.0,99.0
is_promoted,54808.0,0.085170,0.279137,0.0,0.00,0.0,0.0,1.0